*{
  margin: 0;
  padding: 0;
}
.Header, .Footer > div{
  align-items: center;
  justify-content: center;
  display: flex;
}
  .Footer{
    text-align: center;
    height: 6vh;
    margin-top: 13.4vh;
    background-color: rgb(165, 175, 175);
  }
  .Header{
    height: 8vh;
    background-color: rgb(165, 175, 175);
  }
  .calculator {
    width: 150px;
  }
  
  .display {
    background-color: #1c191c;
  }
  
  .display input {
    width: 100%;
    height: 50px;
    font-size: 30px;
    text-align: right;
    border: none;
    background-color: #1c191c;
    color: white;
  }
  
  .result {
    padding-bottom: 5px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    height: 20px;
  }
  
  .buttons {
    height: 140px;
    background-color: #3d353d;
    display: grid;
    grid-template-columns: repeat(4, auto);
  }
  
  .button {
    width:30px;
    height:30px;
    font-size:10px;
    margin:2px;
    border-radius:50%;
    border:none;
    color:#0e0d0e;
    background-color:#f0f1f2;
  }
  
  .button.orange{
    background-color:#ff9501;
    color:white;
  }
  .button.gray{
    background-color:#a4a5a6;
    color:white;
  }  